# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
Hardware/voa_controller_kicad_prj/voa_controller_kicad_prj-backups
Hardware/laser_module_kicad_prj/laser_module_kicad_prj-backups
Hardware/cable_board_kicad_prj/cable_board_kicad_prj-backups
KiCADScript/__pycache__
